<nav class="default-primary-color breadcrumb-small">
    <div class="nav-wrapper margin-top-5">
    	<div class="col s12">
	        <a href="#!/" class="breadcrumb">Inicio</a>
	        <a class="breadcrumb active">Error</a>
    	</div>
    </div>
</nav>

<div class="row">
	<div class="col s12">
		<h1>Pagina no encontrada <small>Error 404</small></h1>
	</div>
</div>