<div ng-hide="!isAdmin">
	<breadcrumb ng-links='[{"url":"#!/", "title":"Home"}, 
	{"url":false, "title": "Administrar Tienda" }]'></breadcrumb>

	<div class="row">
		<div class="col s12">
			<ul class="tabs">
				<li class="tab col s4">
					<a class="active primary-text-color divider-color" href="#users">
						Usuarios
					</a>
				</li>
				<li class="tab col s4">
					<a href="#genres" class="primary-text-color divider-color">
						Generos
					</a>
				</li>
				<li class="tab col s4">
					<a href="#comics" class="primary-text-color divider-color">
						Comics
					</a>
				</li>
			</ul>
		</div>
		<div id="users" class="col s12" 
			ng-include="'app/paginas/administration-users.html'"></div>
		<div id="genres" class="col s12"
			ng-include="'app/paginas/administration-genres.html'"></div>
		<div id="comics" class="col s12"
			ng-include="'app/paginas/administration-comics.html'">
		</div>
	</div>
</div>