<div ng-controller="AdministrationGenresController">
	<a class="btn modal-trigger btn-floating red btn-small pull-right" ng-click="cleanForm(); openModal('createEditGenreModal')"><i class="material-icons">add</i></a>
	
	<h4>Generos</h4>
	<table>
		<thead>
			<tr>
				<th>Titulo</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="genre in genres track by genre.id">
				<td ng-bind="genre.title"></td>
				<td>
					<a class="btn-floating btn-small green" ng-click="edit(genre.id); openModal('createEditGenreModal');">
						<i class="material-icons">mode_edit</i>
					</a>
				</td>
				<td>
					<a class="btn-floating btn-small red" ng-click="remove(genre.id)">
						<i class="material-icons">delete</i>
					</a>
				</td>
			</tr>
		</tbody>
	</table>

	<div id="createEditGenreModal" class="modal">
		<div class="modal-content">
			<h4>Crear/Editar</h4>

			<form class="col s12" ng-submit="save(genre.id); closeModal('createEditGenreModal')">
				<div class="row">
					<div class="input-field col s12">
						<input id="title" required type="text" class="validate" ng-model="genre.title"/>
						<label for="title" ng-class="{'active' : genre.id}">Titulo</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<submit content="Guardar"></submit>
					</div>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<a class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('ul.tabs').tabs();
	});
</script>