<h4>Comentarios</h4>
<div ng-show="comments">
	<div class="card-panel" ng-repeat="comment in comments track by comment.id">
		<b ng-bind="comment.user.username"></b> Dice:
		<blockquote ng-bind="comment.message">
	    </blockquote>
	    <i>Publicado el: {{comment.createdOn}}</i>
	</div>
</div>
<div ng-show="!comments.length">
	<div class="card-panel">
      <span class="blue-text text-darken-2">
		No hay comentarios
      </span>
    </div>
</div>
<form class="card-panel" ng-submit="addComment()" ng-if="isAuthenticated">
	<h5>Enviar comentario</h5>
	<div class="row">
		<div class="input-field col s12">
			<textarea class="validate" ng-model="comment.message" required></textarea>
			<label>Comentario</label>
		</div>
	</div>
	<div class="row">
		<div class="input-field col s12">
			<submit content="Enviar"></submit>
		</div>
	</div>
</form>