<breadcrumb ng-links='[{"url":"#!/", "title":"Home"}, {"url":"#!/comics", "title":"Comics"}, {"url":false, "title": "{{comic.title}}" }]'></breadcrumb>

<div class="row">
	<img ng-src="{{comic.image}}" class="col s12 m4 margin-top-5">
	<div class="col s12 m8">
		<h4>{{comic.title}}</h4>
		<h5>Por {{comic.author}}</h5>
		<p>Visitas: {{comic.visits}}</p>
	</div>
	<ng-include src="'app/paginas/rating.html'"></ng-include>
</div>
<div class="row">

	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s3">
				<a class="active primary-text-color divider-color" href="#info">Info</a>
			</li>
			<li class="tab col s3">
				<a href="#comments" class="primary-text-color divider-color">Comentarios <span ng-show="comments.length">({{comments.length}})</span></a>
			</li>
			<li class="tab col s3">
				<a href="#videos" class="primary-text-color divider-color">Video <span ng-show="comic.videos.length">({{comic.videos.length}})</span></a>
			</li>
			
		</ul>
	</div>
	<div id="info" class="col s12">
		<div class="col s12">
			<h4>Genero</h4>
			<div class="card-panel">{{comic.genre.title}}</div>
			<h4>Año</h4>
			<div class="card-panel">{{comic.year}}</div>
			<h4>Personajes</h4>
			<div class="card-panel">
				<ul>
					<li ng-repeat="character in characters">
						{{character.name}}
					</li>
				</ul>
			</div>		
			<h4>Corta Descripción</h4>
			<div class="card-panel">{{comic.description}}</div>		
		</div>
	</div>
	</div>
	<div id="comments" class="col s12">
		<ng-include src="'app/paginas/comic-comments.html'"></ng-include>
	</div>
	<div id="videos" class="col s12">
		<ng-include src="'app/paginas/comic-videos.html'"></ng-include>
	</div>

</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('ul.tabs').tabs();
	});
</script>


	
	
</div>