<breadcrumb ng-links='[{"url":"#!/", "title":"Home"}, {"url":false, "title":"Comics"}]'></breadcrumb>
<div class="row">
	<div class="col s12" ng-show="results==false">
		<div class="card-panel">
	      <span class="blue-text text-darken-2">
			No hay comics.
	      </span>
	    </div>
	</div>
	<div ng-show="results" class="col s12">
		<div class="card-panel grey lighten-5 z-depth-1" ng-repeat="result in results">
			<div class="row valign-wrapper">
				<div class="col s2">
					<img ng-src="{{result.image}}" ng-alt="result.title" class="circle responsive-img"> <!-- notice the "circle" class -->
				</div>
				<div class="col s10">
					<a ng-href="#!/comic/{{result.id}}">
						<h5 ng-bind="result.title"></h5>
					</a>
					<span class="black-text" ng-bind="result.description">
					</span>
				</div>
			</div>
		</div>
	</div>
</div>