<div class="container">
	<div class="row">
		<div class="col m6 s12">
			<h5 class="white-text">Mapa del sitio</h5>
			<ul>
				<li>
					<a class="grey-text text-lighten-3" href="#!/comics">
						Comics
					</a>
				</li>
				<li ng-if="isAuthenticated">
					<a class="grey-text text-lighten-3" href="#!/my-account">
						Mi Cuenta
					</a>
				</li>
				<li ng-if="isAdmin">
					<a class="grey-text text-lighten-3" href="#!/administration">
						Administrar
					</a>
				</li>
				<li>
					<a class="grey-text text-lighten-3" href="#!/disclaimer">
						Terminos y Condiciones
					</a>
				</li>
			</ul>
		</div>
		<div class="col m4 offset-l2 s12">
			<h5 class="white-text">Siguenos</h5>
			<ul class="grey-text text-lighten-3">
				<li><i class="fa fa-facebook"></i> Comic Store Medellin</li>
				<li><i class="fa fa-twitter"></i> @ComicsMedellin</li>
			</ul>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container">
		&copy; 2016 Comic Store Medellin
	</div>
</div>