<div class="row">
	<div class="col s12">
		<ul class="tabs">
			<li class="tab col s3">
				<a class="active primary-text-color divider-color" href="#genres">Generos</a>
			</li>
		</ul>
	</div>
	<div id="genres" class="col s12">
		<ng-include src="'app/paginas/home-tab-genres.html'"></ng-include>
	</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$('ul.tabs').tabs();
	});
</script>