<div class="navbar-fixed">
	<nav class="default-primary-color">
		<div class="nav-wrapper">
			<a href="#!/" class="brand-logo">Comic Store Medellin</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<!-- Guest links -->
			<ul class="right hide-on-med-and-down" ng-if="!isAuthenticated">
				<li><a href="#!/sign-up">Registro</a></li>
				<li><a data-target="SignInModal" class="modal-trigger">Acceso</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo" ng-if="!isAuthenticated">
				<li><a href="#!/sign-up">Registro</a></li>
				<li><a data-target="SignInModal" class="modal-trigger">Acceso</a></li>
			</ul>
			<!-- User links -->
			<ul class="right hide-on-med-and-down" ng-if="isAuthenticated" ng-controller="SecurityController">
				<li><a href="#!/my-account">Perfil ({{authUser.username}})</a></li>
				<li><a href="#!/administration" ng-if="isAdmin">Administrar</a></li>
				<li><a href="#!/" ng-click="logout()">Cerrar Sesion</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo" ng-if="isAuthenticated" ng-controller="SecurityController">
				<li><a href="#!/my-account">Perfil ({{authUser.username}})</a></li>
				<li><a href="#!/loans">Loans</a></li>
				<li><a href="#!/administration" ng-hide="!isAdmin">Administrar</a></li>
				<li><a href="#!/" ng-click="logout()">Cerrar Sesion</a></li>
			</ul>
		</div>
	</nav>
</div>