<breadcrumb ng-links='[{"url":"#!/", "title":"Home"}, {"url":false, "title": "Mi Cuenta" }]'></breadcrumb>
<div class="row" ng-if="isAuthenticated">
	<div class="col s12">
		<h4>Mi Cuenta</h4>
		<div class="card-panel">
			<dl>
				<dt>Usuario</dt><uariodd ng-bind="authUser.username"></dd>
				<dt>Email</dt><dd ng-bind="authUser.email"></dd>
				<dt>Rol</dt><dd ng-bind="authUser.role"></dd>
				<dt>Fecha de registro</dt><dd ng-bind="authUser.createdOn"></dd>
			</dl>
		</div>
		<h4>Mis Comentarios</h4>
		<div ng-show="comments">
			<div class="card-panel" ng-repeat="comment in comments track by comment.id">
				<b ng-bind="comment.user.username"></b> comento en <a ng-href="#!/comic/{{comment.comic.id}}">{{comment.comic.title}}</a>
				<blockquote ng-bind="comment.message">
			    </blockquote>
			    <i>Publicado el: {{comment.createdOn}}</i>
			</div>
		</div>
		<div ng-hide="comments.length">
			<div class="card-panel">
		      <span class="blue-text text-darken-2">
				No hay ningún comentario para mostrar 
		      </span>
		    </div>
		</div>
	</div>
</div>