<div ng-controller="RatingController">
	<div class="col s12 m4 right input-field">
		<i class="material-icons orange-text lighten-2-text" ng-repeat="star in [] | range:communityRating">star</i>
		<label for="rating" class="active">Votos Comunidad</label> 
	</div>
	<div class="col s12 m4 right input-field" ng-show="isAuthenticated">
		<select id="rating" ng-change="rate();calculateRating();" ng-model="rating" ng-options="star.value as star.name for star in stars" class="browser-default"></select>
		<label for="rating" class="active" ng-hide="!rating">Voto mio</label> 
		<label for="rating" class="active" ng-hide="rating">Rate it!</label> 
	</div>
</div>