<breadcrumb ng-links='[{"url":"#!/", "title":"Home"}, {"url":false, "title": "Busqueda" }]'></breadcrumb>
<div class="row">
	<div class="col s8 form-group">
		<input id="searchInput" autocomplete="off" placeholder="Buscar comic" type="text" ng-model="query" class="form-control">
	</div>
	<div class="col s4 form-group">
		<select id="orderCriteria" ng-model="orderCriteria" class="form-controlclass browser-default">
			<option value="">Ordenar por</option>
			<option value="title">Titulo Asc</option>
			<option value="-title">Titulo Desc</option>
			<option value="rating">Votos Asc</option>
			<option value="-rating">Votos Desc</option>
			<option value="visits">Visitas Asc</option>
			<option value="-visits">Visitas Desc</option>
		</select>
	</div>
	<div class="col s12" ng-show="results==false">
		<div class="card-panel">
	      <span class="blue-text text-darken-2">
			No hay resutados "{{query}}".
	      </span>
	    </div>
	</div>
	<div ng-show="results" class="col s12">
		<div class="card-panel grey lighten-5 z-depth-1" ng-repeat="result in results|orderBy:orderCriteria track by result.id">
			<div class="row valign-wrapper">
				<div class="col s2">
					<img ng-src="{{result.image}}" ng-alt="result.title" class="circle responsive-img"> <!-- notice the "circle" class -->
				</div>
				<div class="col s10">
					<a ng-href="#!/comic/{{result.id}}">
						<h5 ng-bind="result.title"></h5>
					</a>
					<span class="black-text" ng-bind="result.description">
					</span>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('#searchInput').focus();
});
</script>