<div class="col s12 m4" id="sidebar" ng-controller="SidebarController">
	<form ng-submit="search()" ng-hide="inSearchPage()">
        <div class="input-field">
    		<i class="material-icons prefix">search_circle</i>
    		<input id="icon_prefix" type="text" autocomplete="off" ng-model="query" class="validate">
    		<label for="icon_prefix">Buscar</label>
        </div>
    </form>

    <div class="hide-on-small-only">
        <div class="z-depth-1 text-center padding-5 margin-top-5">
        	<h5> Mas Vistas</h5>
        	<div class="chip" ng-repeat="comic in topRated track by comic.id" ng-click="showComic(comic.id)">
				<img ng-src="{{comic.image}}" ng-alt="comic.title">
				{{comic.title}}
			</div>
        </div>		  

        <div class="z-depth-1 text-center padding-5 margin-top-5">
        	<h5>Mas Buscadas</h5>
        	<div class="chip" ng-repeat="comic in topSearches track by comic.id" ng-click="showComic(comic.id)">
				<img ng-src="{{comic.image}}" ng-alt="comic.title">
				{{comic.title}}
			</div>
        </div>	
    </div>
</div>