<div class="row" ng-controller="SecurityController">
	<h4>Entrar</h4>
	<form class="col s12" ng-submit="login()" onsubmit="return false">
		<div class="row">
			<div class="input-field col s12">
				<input id="username" type="text" class="validate" ng-model="user.username" pattern="[a-z0-9]{5,10}" required title="5 to 10 alphanumeric characters" />
				<label for="username">Usuario</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="password" type="password" class="validate" ng-model="user.password" pattern="[a-zA-Z0-9]{7,}" required title="7 alphanumeric characters minimum" />
				<label for="password">Password</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">				
				<submit content="Entrar"></submit>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$(".button-collapse").sideNav();
	$('.modal-trigger').leanModal();
});
</script>