<breadcrumb ng-links='[{"url":"#!/", "title":"Home"}, {"url":false, "title": "Registro" }]'></breadcrumb>
<div class="row">
	<form class="col s12" ng-submit="register()">
		<div class="row">
			<div class="input-field col s12">
				<input id="username" type="text" class="validate" ng-model="user.username" pattern="[a-z0-9]{5,10}" required title="5 to 10 alphanumeric characters" />
				<label for="username">Usuario</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<select id="role" class="validate browser-default" ng-model="user.role" required>
					<option value="admin">Administrador/Empleado</option>
					<option value="user" selected>Usuario</option>
				</select>
				<label for="role" class="active">Tipo de Usuario</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="email" type="email" class="validate" ng-model="user.email" />
				<label for="email">Email</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="password" type="password" class="validate" ng-model="user.password" pattern="[a-zA-Z0-9]{7,}" required title="7 alphanumeric characters minimum" />
				<label for="password">Clave</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="cpassword" type="password" class="validate" ng-model="validation.password" pattern="[a-zA-Z0-9]{7,}" required title="7 alphanumeric characters minimum" />
				<label for="cpassword">Repetir Clave</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="tos" type="checkbox" class="validate" ng-model="validation.agreement" />
				<label for="tos">Acepta los terminos</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<submit content="Registrarme"></submit>
			</div>
		</div>
	</form>
</div>
<script type="text/javascript">
	$(document).ready(function(){
		$('ul.tabs').tabs();
		$('select').material_select();
	});
</script>