<div class="slider">
	<ul class="slides">
		<li>
		<img src="public/img/advertising-one.png">
		<div class="caption center-align">
		  <h3>Star Wars</h3>
		  <h5 class="light grey-text text-lighten-3">Creador George Lucas</h5>
		</div>
		</li>
		<li>
		<img src="public/img/advertising-two.jpg">
		<div class="caption left-align">
		  <h3>Batman 2015</h3>
		  <h5 class="light grey-text text-lighten-3">Una Nueva Historia cada 15 Dias Solo en Comic Store</h5>
		</div>
		</li>
	</ul>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		$(".slider").slider({full_width: true});
		$(".slider").slider('start');
	});
</script>